<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Flotta</title>
</head>
<body>

	<div layout:fragment="loginContent">

		<form name="login" th:action="@{/login}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Kérlek jelentkezz be</h2>
			<div id="err" th:if="${param.error}" class="alert alert-danger">Hibás felhasználói név és jelszó</div>
			<div th:if="${param.logout}" class="alert alert-success">Sikeresen kijelentkeztél</div>
        <div class="row  my-2">
          <div class="col-2">
            <label for="username" th:text="#{login.username}">Username</label>
          </div>
          <div class="col-4">
            <input value="admin" type="text" id="username" name="username" class="form-control" th:placeholder="#{login.username}" required="true" />
          </div>
          </div>
          <div class="row  my-2">
          <div class="col-2">
            <label for="password" th:text="#{login.password}">Password</label> 
          </div>
          <div class="col-4">
            <input value="admin" type="password" id="password" name="password" class="form-control" th:placeholder="#{login.password}" required="true" />
          </div>
        </div>
			    
			<div class="checkbox">
				<label> <input id="remember-me" name="remember-me" type="checkbox" th:text="#{login.rememberMe}" /> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary" type="submit" th:text="#{login.login}">Login</button>
		</form>

	</div>

</body>
</html>