<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
<title></title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="shadow p-5 mb-5 bg-white rounded">

      <h2 th:text="'Hali ' + ${name} + '! Have a nice day :)'">Kezdolap</h2>
      <div>
        <input type="date" id="date" name="date" th:value="*{date}" />
      </div>
      <div>
        <input type="date" id="date" name="date" th:field="${date}" />
      </div>
      <div>
        <label th:text="*{date}"></label>
      </div>

    </div>


  </div>



</body>
</html>