<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">


    <form id="forgot-password-form" th:action="@{/passwordReset}" method="post">
    <h2>Password reset</h2>
      <div class="form-group">
        <label for="email">Enter your email</label>
        <input type="text" id="email" name="username" class="form-control col-4 my-1" placeholder="E-mail address" required="required"/>
      </div>
      <button class="btn btn-primary" type="submit">Reset password</button>
    </form>

  </div>

</body>
</html>