<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
<title>BoxInBox - Subscription</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h2>Edit subscription</h2>

    <div class="container">
      <select th:if="${dates} != null" onchange="changeDate(this)" class="my-3">
        <option th:each="date : ${dates}" th:value="${date}" th:text="${date}"
          th:selected="${date} == ${subscription.date}"
        ></option>
      </select>
    </div>


    <form th:object="${subscription}" method="post" id="form">
      <input type="hidden" id="order" name="order" />
      <div class="container">
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.phoneNumber}">Number</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="number" name="number" th:value="*{number}"
              readonly="readonly"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.imei}">IMEI</label>
          </div>
          <div class="col-4">
            <input type="hidden" id="oldImei" name="oldImei" th:value="*{oldImei}" readonly="readonly" />
            <input type="text" id="imei" name="imei" th:value="*{imei}" class="form-control" readonly="readonly" />
            <!--             <select id="imei" name="imei" th:value="*{imei}" class="form-control" onChange="imeiChange"> -->
            <!--               <option th:each="sim : ${freeSims}" th:value="${sim.id}" th:text="${sim.imei}"></option> -->
            <!--             </select> -->
          </div>
          <div>
            <button th:if="${not #lists.isEmpty(freeSims)}" type="button" class="btn btn-primary" data-toggle="modal"
              data-target="#simChooserModal"
            >Change</button>
            <button th:if="${not #lists.isEmpty(freeSims)}" type="button" id="simChangeResetBtn" class="btn btn-primary" onClick="resetSimChange()">Reset</button>
          </div>
        </div>
        <div class="row" id="reasonRow"  style="display: none;">
          <div class="col-2" th:text="'Sim change reason'"></div>
          <div class="col-4">
            <input type="text" id="imeiChangeReason" name="imeiChangeReason" th:value="*{imeiChangeReason}" class="form-control"  />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.user}">User</label>
          </div>
          <div class="col-4">
            <select th:field="*{userId}" class="form-control" id="userId"
              onchange="userUpdate(this)"
            >
              <option value="0" title="Nobody"></option>
              <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.fullName}"
                th:title="${user.email}"
              ></option>
            </select>
          </div>
          <div class="col-2">
            <div th:replace="fragments/subscription :: userChooserModal"></div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.device}">Device</label>
          </div>
          <div class="col-4">
            <select th:field="*{deviceId}" class="form-control" id="deviceId"
              onchange="deviceUpdate(this)"
            >
              <option value="0" title="Nothing"></option>
              <option th:each="device : ${devices}" th:value="${device.id}"
                th:text="${device.typeName} + ' (' + ${device.serialNumber} + ')'"
                th:title="${device.serialNumber}"
              ></option>
            </select>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.note}">Note</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="note" name="note" th:value="*{note}" />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.date}">Date</label>
          </div>
          <div class="col-4">
            <input type="date" class="form-control" id="date" name="date" th:value="*{date}"
              required="required" th:min="${subscription.min}"
            /> <input type="hidden" id="min" name="min" th:value="*{min}" />
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-2 align-self-end">
            <button type="submit" id="button" class="btn"
              th:formaction="'/subscription/' + ${subscription.id}" formmethod="post"
              th:text="#{button.save}"
            >Save</button>
            <a href="/subscription/all" class="btn btn-primary" th:text="#{button.back}">Back</a>
          </div>
        </div>
      </div>
    </form>




    <div class="modal" id="simChooserModal" tabindex="-1" role="dialog"
      aria-labelledby="simChooserModalLabel" aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="simChooserModal">Imei change</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row my-1" th:each="sim : ${freeSims}">
              <div class="col" th:id="'selectedImei'+ ${sim.id}" th:text="${sim.imei}"></div>
              <div class="col-2">
                <button type="button" th:onClick="'simChange(' + ${sim.imei} + ')'" value="Select" data-dismiss="modal">Select</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>




    <script th:inline="javascript">
// 					<![CDATA[
// 					var reason = "";
					var simChanged = document.getElementById('imei').value != document.getElementById('oldImei').value;
					

					window.onload = function() {
						if (simChanged) {
							document.getElementById('reasonRow').style.display = null;
							document.getElementById('imeiChangeReason').required = true;
						} else {
							document.getElementById('simChangeResetBtn').disabled = true;
						}
					};

					function changeDate(d) {
						document.getElementById('order').value = 'dateSliceCh ' + d.value;
						document.getElementById('form').submit();
					}

					function simChange(imei) {
						document.getElementById('imei').value = imei;
						document.getElementById('reasonRow').style.display = null;
						document.getElementById('imeiChangeReason').required = true;
						document.getElementById('simChangeResetBtn').disabled = false;
					}
					
					function resetSimChange() {
						alert(document.getElementById('oldImei').value);
						document.getElementById('imei').value = document.getElementById('oldImei').value;
						document.getElementById('imeiChangeReason').value = null;
						document.getElementById('imeiChangeReason').required = false;
						document.getElementById('reasonRow').style.display = 'none';
						document.getElementById('simChangeResetBtn').disabled = true;
					}
					
					function imeiChange(i) {
						// 						alert(imeiChanged);
						// 						if(imeiChanged != (i.value != document.getElementById('oldImei').value)) {
						// 							imeiChanged = !imeiChanged;
						// 							var imeiChangeReason = document.getElementById('imeiChangeReason');
						// 							if(imeiChanged) {
						// 								imeiChangeReason.value = reason;
						// 								imeiChangeReason.disabled = false;
						// 								imeiChangeReason.required = true;
						// 							} else {
						// 								reason = imeiChangeReason.value;
						// 								imeiChangeReason.value = '';
						// 								imeiChangeReason.disabled = true;
						// 								imeiChangeReason.required = false;
						// 							}
						// 						}
					}

					function userUpdate(user) {
						document.getElementById('order').value = 'userCh ' + user.value;
						document.getElementById('form').submit();
					}

					function deviceUpdate(device) {
						document.getElementById('order').value = 'deviceCh';
						document.getElementById('form').submit();
					}

					//]]>
				</script>

  </div>



</body>
</html>