<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
<title>BoxInBox - Subscription</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h2>Edit subscription</h2>

<!--     <hr /> -->

    <div class="container">
      <select th:if="${dates} != null" onchange="changeDate(this)" class="my-3">
        <option th:each="date : ${dates}" th:value="${date}" th:text="${date}"
          th:selected="${date} == ${subscription.date}"
        ></option>
      </select>
    </div>


    <form th:object="${subscription}" method="post" id="form">
      <input type="hidden" id="order" name="order" />
      <div class="container">
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.phoneNumber}">Number</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="number" name="number" th:value="*{number}" />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.imei}">IMEI</label>
          </div>
          <div class="col-2">
            <input type="hidden" id="imeiChangeReason" name="imeiChangeReason" th:value="*{imeiChangeReason}"/>
            <input type="text" class="form-control" id="imei" name="imei"
              th:value="*{imei}" readonly="readonly"
            />
          </div>
          <div class="col-2">
            <button type="button" class="form-control" data-toggle="modal" data-target="#simModal" data-backdrop="static">Sim change</button>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.user}">User</label>
          </div>
          <div class="col-4">
            <select th:field="*{userId}" class="form-control" id="userId" onchange="userUpdate(this)">
              <option value="0" title="Nobody"></option>
              <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.fullName}"
                th:title="${user.email}"
              ></option>
            </select>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.device}">Device</label>
          </div>
          <div class="col-4">
            <select th:field="*{deviceId}" class="form-control" id="deviceId" onchange="deviceUpdate(this)">
              <option value="0" title="Nothing"></option>
              <option th:each="device : ${devices}" th:value="${device.id}" th:text="${device.typeName}"
                th:title="${device.serialNumber}"
              ></option>
            </select>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.note}">Note</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="note" name="note" th:value="*{note}"/>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{subscription.date}">Date</label>
          </div>
          <div class="col-4">
            <input type="date" class="form-control" id="date" name="date" th:value="*{date}" required="required"
              th:min="${subscription.min}"
            />
            <input type="hidden" id="min" name="min" th:value="*{min}" />
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-2 align-self-end">
            <button type="submit" id="button" class="btn"
              th:formaction="'/subscription/' + ${subscription.id}" formmethod="post"
              th:text="#{button.save}"
            >Save</button>
            <a href="/subscription/all" class="btn btn-primary" th:text="#{button.back}">Back</a>
          </div>
        </div>
      </div>
    </form>

    <!-- Modal -->
    <div class="modal" id="simModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Select sim</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <lable>Change reason</lable>
            <select id="modalImeiChangeReason">
              <option th:each="reason : ${simChangeReasons}" th:value="${reason}"
                th:text="${reason}"
              ></option>
            </select>
            <lable>Imei</lable>
            <select id="selectedImei">
              <option th:each="sim : ${sims}" th:value="${sim.imei}" th:text="${sim.imei}"></option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="setImeiChange()" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
					//<![CDATA[
					window.onload = function() {
						document.getElementById('number').readOnly = true;
					};

					function changeDate(d) {
						document.getElementById('order').value = 'dateSliceCh ' + d.value;
						document.getElementById('form').submit();
					}

					function setImeiChange() {
						document.getElementById('imei').value = document.getElementById('selectedImei').value;
						document.getElementById('imeiChangeReason').value = document.getElementById('modalImeiChangeReason').value;
					}

					function simUpdate(imei) {
						document.getElementById("selectedImei").value = imei.value;
						$('#simStatusModal').modal()
					}

					function userUpdate(user) {
						document.getElementById('order').value = 'userCh ' + user.value;
						document.getElementById('form').submit();
					}
					
					function deviceUpdate(device) {
						document.getElementById('order').value = 'deviceCh';
						document.getElementById('form').submit();
					}
					
					//]]>
				</script>

  </div>



</body>
</html>