<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h2>Finance details</h2>
      
      <form action="">
      <div class="container">
        <div class="row">
          <div class="col-2">Number</div>
          <div class="col-2" th:text="${invoicePart.number}">201234567</div>
        </div>
        <div class="row">
          <div class="col-2">Begin</div>
          <div class="col-2" th:text="${invoicePart.begin}">2020.01.10</div>
        </div>
        <div class="row">
          <div class="col-2">End</div>
          <div class="col-2" th:text="${invoicePart.end}">2020.01.31</div>
        </div>
      </div>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>
              <label>Category</label>
            </th>
            <th>
              <label>Description</label>
            </th>
            <th>
              <label>Gross amount</label>
            </th>
            <th>
              <label>Revision note</label>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="fee, i : ${invoicePart.fees}">
            <td th:text="${fee.category}"></td>
            <td th:text="${fee.description}"></td>
            <td th:text="${fee.userGross}"></td>
            <td>
              <input type="text" class="form-control" placeholder="Enter your note" />
            </td>
          </tr>
<!--           <tr> -->
<!--             <td>Monthly</td> -->
<!--             <td>Monthly amount, 2020.01.01 - 2020.01.31</td> -->
<!--             <td>2990</td> -->
<!--             <td> -->
<!--               <input type="text" class="form-control" placeholder="Enter your note" /> -->
<!--             </td> -->
<!--           </tr> -->
<!--           <tr> -->
<!--             <td>Internet</td> -->
<!--             <td>5 GB</td> -->
<!--             <td>1490</td> -->
<!--             <td> -->
<!--               <input type="text" class="form-control" placeholder="Enter your note" /> -->
<!--             </td> -->
<!--           </tr> -->
        </tbody>
      </table>
      <textarea class="form-control mb-2" placeholder="Enter your note for entiry invoice"></textarea>
      
      <div class="btn-group">
        <button type="submit" th:formaction="'/profile/finance/' + ${invoicePart.number} + 'accept'" class="btn btn-success">Accept all</button>
        <button type="submit" th:formaction="'/profile/finance/' + ${invoicePart.number} + 'revisionNote'" class="btn btn-warning">Ask for revision</button>
      </div>
      </form>

  </div>


</body>
</html>