.my-menu {
	border-width: 1px;
	border-style: solid;
	border-color: #b3ccff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #f2f8ff;
}

.my-border.container {
	border-width: 1px;
	border-style: solid;
	border-color: #b3ccff;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px
}

body h2 {
	margin-top: 30px;
	margin-bottom: 30px
}

.center {
	width: -moz-fit-content;
	margin-left: auto;
	margin-right: auto;
}

.tabcontent {
	display: none;
}