<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Flotta</title>

<link rel="stylesheet" href="/css/my.css" th:href="@{/css/my.css}" />
<!-- <link rel="stylesheet" href="/css/blog.css" th:href="@{/css/blog.css}" /> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" /> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />

<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

  
  <div class="navbar navbar-expand mx-1 my-menu">
<!--     style="border-width: 1px; border-style: solid ; border-color: #b3ccff;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;" -->
<!--   > -->
    <div sec:authorize="isAuthenticated()" class="navbar-nav">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link"
          th:classappend="${title} == 'Homepage' ? 'active' :''" href="/" th:text="#{main.homepage}"
        >Homepage</a></li>
        <li class="nav-item"><a class="nav-link"
          th:classappend="${title} == 'Subscription' ? 'active' :''" href="/subscription/all"
          th:text="#{main.subscriptions}"
        >Subscription</a></li>
        <li class="nav-item"><a class="nav-link"
          th:classappend="${title} == 'User' ? 'active' :''" href="/users" th:text="#{main.users}"
        >User</a></li>
        <li class="nav-item"><a class="nav-link"
          th:classappend="${title} == 'Sim' ? 'active' :''" href="/sim/all" th:text="#{main.sims}"
        >Sim</a></li>
        <li class="nav-item"><a class="nav-link"
          th:classappend="${title} == 'Device' ? 'active' :''" href="/device/all"
          th:text="#{main.devices}"
        >Device</a></li>
        <li class="nav-item"><a class="nav-link"
          th:classappend="${title} == 'DeviceType' ? 'active' :''" href="/deviceTypes"
          th:text="#{main.deviceTypes}"
        >Device type</a></li>
        <li class="nav-item"><a class="nav-link"
          th:classappend="${title} == 'Billing' ? 'active' :''" href="/billing/all"
          th:text="#{main.billing}"
        >Billing</a></li>
        <li class="nav-item"><a class="nav-link"
           href="/finance">Test</a></li>
      </ul>
    </div>
    <div class="ml-auto mr-3">
      <div sec:authorize="isAuthenticated()" class="form-inline">
        <label class="mr-1" th:text="#{main.greeting}">Wellcome</label> <span class="mr-2"
          th:text="${#authentication.getPrincipal().getFullName()}"
        > Somebody </span>
        <form id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
          <a href="javascript:{}"
            onclick="document.getElementById('frmlogout').submit(); return false;"
            class="form-inline"
          ><label th:text="#{main.logout}"></label></a>
        </form>
      </div>
    </div>
    <div class="navbar-nav mr-3">
      <span><a href="?lang=hu" class="mr-1">HU</a><a href="?lang=en">EN</a> </span>
    </div>
  </div>

  <div class="container">


    <div layout:fragment="loginContent"></div>




    <div th:replace="footer :: footer"></div>

  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
</body>
</html>