<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
<title></title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="shadow p-5 mb-5 bg-white rounded">

      <h2>Bill partition template</h2>

      <div class="container">
        <form action="/billing/billPartitionUpdate" method="post">
        <lable  id="templateId" name="templateId" th:text="${templateId}" ></lable>
        <input type="hidden" id="templateId" name="templateId" th:value="${templateId}" />
        <div class="row my-2" th:each="description, i : ${feeDescriptions}">
          <div class="col-4">
            <label id="description" name="description" th:text="${description}"></label>
            <input type="hidden" id="description" name="description" th:value="${description}" />
          </div>
          <div class="col-2">
            <select id="category" name="category">
              <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
            </select>
          </div>
        </div>
        <input type="submit" class="btn btn-primary" th:value="#{button.save}" />
        <a href="/billing/all" class="btn btn-primary" th:text="#{button.back}"></a>
        </form>
      </div>


    </div>


  </div>



</body>
</html>