<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="shadow p-5 mb-5 bg-white rounded">

      <h2>Invoice details</h2>

      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.invoiceNumber}">Invoice number</label></div>
        <div class="col-2"><label th:text="${bill.invoiceNumber}">Invoice number</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.fromDate}">From</label></div>
        <div class="col-2"><label th:text="${bill.fromDate}">From date</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.emdDate}">To</label></div>
        <div class="col-2"><label th:text="${bill.endDate}">End date</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.invoiceNetAmount}">Net amount</label></div>
        <div class="col-2"><label th:text="${bill.invoiceNetAmount} + ' Ft'">Net amount</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.invoiceTaxAmount}">Tax amount</label></div>
        <div class="col-2"><label th:text="${bill.invoiceTaxAmount} + ' Ft'">Tax amount</label></div>
      </div>


      <table class="table">
        <tr>
          <th>Subscription</th>
          <th>Description</th>
          <th>Begin</th>
          <th>End</th>
          <th>Net Amount</th>
          <th>Tax Amount</th>
          <th>Tax Percentage</th>
        </tr>
        <tr th:each="feeItem : ${bill.feeItems}">
          <td th:text="${feeItem.subscription}"></td>
          <td th:text="${feeItem.description}"></td>
          <td th:text="${feeItem.begin}"></td>
          <td th:text="${feeItem.end}"></td>
          <td th:text="${feeItem.netAmount}"></td>
          <td th:text="${feeItem.taxAmount}"></td>
          <td th:text="${feeItem.taxPercentage}"></td>
        </tr>
      </table>


    </div>


  </div>



</body>
</html>