<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
<title></title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="shadow p-5 mb-5 bg-white rounded">

      <h2>Billing index</h2>
      

      <div>
        <form action="/billing" method="post" enctype="multipart/form-data">
          <label for="myfile">Select a file:</label> 
          <input type="file" id="file" name="file" />
          <input type="submit" />
        </form>
      </div>


    </div>


  </div>



</body>
</html>