<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
<title></title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="shadow p-5 mb-5 bg-white rounded">

      <h2>Billing</h2>

      <div>
        <a href="/billing/all" class="btn btn-primary">All bill</a>
      </div>

      <div th:if="${msg}" class="alert alert-danger" th:text="${msg}"></div>


      <div class="container">
        <form action="/billing" method="post" enctype="multipart/form-data">
          <label for="myfile">Select a bill:</label> <input type="file" id="file" name="file" />
          <select id="selected_template" name="selected_template">
            <option th:each="template : ${templates}" th:text="${template.name}" th:value="${template.id}"></option>
          </select> 
          <input
            type="submit"
          />
        </form>
      </div>


    </div>


  </div>



</body>
</html>