<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
<title>BoxInBox - Sim</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h2 th:text="#{main.sims}">Sims</h2>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th th:text="#{sim.imei}">IMEI</th>
          <th th:text="#{sim.serviceProvider}">Service provider</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="table-striped">
        <tr th:each="sim : ${sims}">
          <td th:text="${sim.imei}"></td>
          <td th:text="${sim.serviceProvider}"></td>
          <td th:text="${sim.getStatus()}"></td>
        </tr>
      </tbody>
    </table>
    <div>
      <form name="form" th:action="@{/sims}" method="post" th:object="${sim}">
        <input type="text" id="imei" name="imei" class="form-control" th:placeholder="#{sim.imei}" placeholder="IMEI"
          required="required"
        /> <input type="text" id="serviceProvider" name="serviceProvider" class="form-control" th:placeholder="#{sim.serviceProvider}"
          placeholder="Service provider" required="required"
        /> <input type="date" name="date" />
        <button type="submit" class="btn btn-primary" name="command" value="add" th:text="#{button.add}">Add</button>
      </form>
    </div>




  </div>


</body>
</html>